
h1{
  color: black;
  font-family: "Poppins", Sans-serif;
  font-size: 86px;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
}
body {
  text-align: center;
  background-color: white;
}
p{
  color: black;
  font-family: "Poppins", Sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
}
.image{
  margin-top: 80px;
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-left: 30px;
}
/* Add a hover effect if you want */
/* .fa:hover {
  opacity: 0.7;
}
*/
/* Set a specific color for each brand */
/* Facebook */
/* .fa-whatsapp {
  color:#fff;
  background: linear-gradient(#25d366,#25d366) 14% 84%/16% 16% no-repeat, radial-gradient(#25d366 60%,transparent 0);
  background-color: white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 70%;
}
.fa-instagram{
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  color: white;
  background-color: white;
  outline: none;
}
*/
.social-footer{
  background-color: black;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 20px 20px;
}
.social-footer a{
  background-color: black;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}
.social-footer-right{
  color: #f2f2f2;
  align-items: center;
  text-align: center;
  margin-left: auto;
 /* padding: 14px 16px;
  */
  text-decoration: none;
  font-size: 20px;
}
.social-footer a:hover {
  background-color: #f3f4f6;
  color: black;
}
/* .fa-google{
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
*/
